###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup {
        contactgroup_name                       INFRA
        alias                                   INFRA TEAM
        members                                 NOC, TECHOPS 
#	contactgroup_members			
        }

